<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dktlbveja/image/upload/v1590607062/two-screens_fdfwaw.jpg);">
  <div class="container-landing">
    <h1>
      Re-imagining 
    </h1>
    <h1 id='resize'><span id="banner-typed-text"></span></h1>
    <p>Taking the best pieces of recruitment, business intelligence and CRM tools, Consilium Technology is building a new global technology community that connects world class talent with world class firms.</p>
    <br>
    <%= link_to 'Sign up!', '#form-container', class: "btn btn-primary btn-nav", style: "font-size: 1.2em"%>
  </div>
</div>



<div class="justify-content-center">
  <h1 id='benefits'>Benefits for everyone</h1>
  <ul id='about-us' class='mobile' >
    <li class='items'>
      <div class=item-words>
        <h2>Executives and In-house Recruitment.</h2>
        <p>Make more informed corporate, talent and investment decisions 
        with visibility into leading firms and talent in the industry.  
        </p>
      </div>
      <div>
        <%= cl_image_tag("search_sn2ces.jpg", cloud_name: 'dkaewt5w0', class: 'items-img') %>
      </div>
    </li>
    <li class='items'>
      <div class=item-words>
        <h2>World Class Talent.</h2>
        <p>Becoming part of the community means instant visibility to hiring managers and other talented individuals
        such as yourself.
        </p>
      </div>
      <div>
        <%= cl_image_tag("https://res.cloudinary.com/dkaewt5w0/image/upload/v1590613305/72A63891-EBEB-4439-A411-D84A81A13C6C_1_201_a_fbcptm.jpg", cloud_name: 'dkaewt5w0', class: 'items-img') %>
      </div>
    </li>
    <li class='items'>
      <div class=item-words>
        <h2>Sales.</h2>
        <p>Mapping and understanding your client base has never been easier. We offer sales professionals visibility into all of the
        leading firms in the industry.</p>
      </div>
      <div>
        <%= cl_image_tag("sales_yuy4q4.jpg", cloud_name: 'dkaewt5w0', class: 'items-img') %>
      </div>
    </li>
  </ul>

  <ul id='about-us' class='full-screen'>
    <li class='items'>
      <div class=item-words>
        <h3>Executives and In-house Recruitment.</h3>
        <p>Make more informed corporate, talent and investment decisions 
        with visibility into leading firms and talent in the industry.  
        </p>
      </div>
      <div class='mright'>
        <%= cl_image_tag("search_sn2ces.jpg", width: 600, cloud_name: 'dkaewt5w0') %>
      </div>
    </li>
    <li class='items'>
      <div class='mleft'>
        <%= cl_image_tag("https://res.cloudinary.com/dkaewt5w0/image/upload/v1590613305/72A63891-EBEB-4439-A411-D84A81A13C6C_1_201_a_fbcptm.jpg", width: 600, cloud_name: 'dkaewt5w0') %>
      </div>
      <div class=item-words>
        <h3>World Class Talent.</h3>
        <p>Becoming part of the community means instant visibility to hiring managers and other talented individuals
        such as yourself.
        </p>
      </div>
    </li>
    <li class='items'>
      <div class=item-words>
        <h3>Sales.</h3>
        <p>Mapping and understanding your client base has never been easier. We offer sales professionals visibility into all of the
        leading firms in the industry.</p>
      </div>
      <div class='mright'>
        <%= cl_image_tag("sales_yuy4q4.jpg", width: 600, cloud_name: 'dkaewt5w0') %>
      </div>
    </li>
  </ul>
</div>

<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dkaewt5w0/image/upload/v1588884269/gln4eiv21lawvwcygaaj.jpg);">
  <div id='form-container'>
    <h4>Lets build the future of people together</h4>
    <p>Sign up for updates</p>
    <br>
    <%= simple_form_for @person do |f| %>
          <%= f.label "First name:" %>
          <%= f.input :first_name, placeholder: 'First name', label: false, error: 'Name is mandatory, please specify one', input_html: {id:'sign-up-form'} %>
          <%= f.label "Last name:" %>
          <%= f.input :last_name, placeholder: 'Last Name', label: false %>
          <%= f.label "Email:" %>
          <%= f.input :email, label: false, placeholder: 'email@address.com' %>
          <%= f.label "City:" %>
          <%= f.input :city, label: false, placeholder: 'San Francisco' %>
          <%= f.label "Current/Recent Company:" %>
          <%= f.input :recent_company, label: false, placeholder: 'Consilium' %>
          <%= f.collection_radio_buttons :current, [[true, 'Current'], [false, 'Recent']], :first, :last, input_html: { class: 'buttons' }%> 
          <br>
          <%= f.label "Job Function:", class:'job_function' %>
          <%= f.input :job_title, collection: ['Software', 'DevOps', 'IT', 'Product', 'Management', 'Other'], label: false %>
          <%= f.label "Expertise:" %>
          <%= f.input :expertise, label: false, placeholder: 'Back-End' %>
          <%= f.label "LinkedIn:" %>
          <%= f.input :linkedin, label: false, placeholder: 'optional' %>
          <%= f.label "GitHub:" %>
          <%= f.input :github, label: false, placeholder: 'optional' %>
          <%= f.button :submit, 'Stay in the loop!', class: 'btn btn-primary'%>
    <% end %>
    <br>
    <br>
    <h6>Or share with: </h6>
          <%= simple_form_for @friend do |f|%>
          <div id='share-container'>
            <div class='share-item'>
            <%= f.label "Name:" %>
            <%= f.input :name, placeholder: 'First name', label: false, error: 'Name is mandatory, please specify one', input_html: {id:'sign-up-form'} %>
            <%= f.label "Email:" %>
            <%= f.input :email, label: false, placeholder: 'email@address.com' %>
            </div>
          </div>
            <%= f.label "Message:" %>
            <%= f.input :message, placeholder: 'Message', label: false %>
            <div class='share-item'>
            <%= f.button :submit, 'Share', class: 'btn btn-primary'%>
            </div>
          <% end %>
  </div>
  
</div>