<!DOCTYPE html>
<html>
  <head>
    <title>ConsiliumTechLanding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166300221-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-166300221-1');
  </script>

  </head>

  <body>
  <% if flash[:notice] %>
      <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice]%>
      </div>
    <% elsif flash[:error]%>
      <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error]%>
      </div>
     <% elsif flash[:alert] %>
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert]%>
      </div>
    <% end %>
    <header>
      <%= image_tag 'logoT.jpg', class: 'home-img' %>
    </header>
    <%= yield %>
    
    
    <footer class='common-footer'>
      <div class='row'>
        <h6>+1 212 547 8860</h6>
        <ul id='terms'>
          <li><a href="https://consiliumintelligence.com/privacy/">Privacy Policy</a></li>
          <li><a href="https://consiliumintelligence.com/terms/">Terms and Conditions</a></li>
          <li><a href="https://consiliumintelligence.com/terms/">DO NOT SELL MY PERSONAL INFORMATION</a></li>
        </ul>
      </div>
      <div class='row'>
        <h6>info@consiliumintelligence.com</h6>
        <p>© 2020 Consilium Intelligence. All rights reserved.</p>
        <ul id='social'>
          <li>
            <a href="https://www.linkedin.com/company/consilium-intelligence/" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
          <li>
            <a href="https://twitter.com/ConsiliumAI" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/ConsiliumAI" target="_blank">
                <i class="fa fa-facebook-official"></i>
            </a>
          </li>
          <li>
              <a href="https://www.instagram.com/consiliumai/" target="_blank">
                  <i class="fa fa-instagram"></i>
              </a>
          </li>
          <li>
              <a href="https://www.youtube.com/channel/UCOnQmnH6m-UO3-E1YAOG1Ng/featured" target="_blank">
                    <i class="fa fa-youtube"></i>
              </a>
          </li>
        </ul>
      </div>
    </footer>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
